@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    display: flex;
    background-image: url("images/img4.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #4e4e4e;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: url("images/img4.jpg") no-repeat center center fixed;
    background-size: cover;
    z-index: -1;
}

.adaptivecontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 80vw;
    height: 80vh;
    min-width: 300px;
    min-height: 200px;
}

.envelope {
    position: relative;
    width: 100%;
    max-width: 750px;
    height: auto;
    max-height: 475px;
    aspect-ratio: 1.6;
    perspective: 1000px;
    transition: transform 1s ease;
}

.envelope .flap {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #fff;
    border: 2px solid #020202;
    border-radius: 4px;
    transform-style: preserve-3d;
    transition: transform 1s ease, border 0s ease;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.envelope .flap.top {
    transform-origin: bottom;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}

.flaptopimg{
    justify-content: center;
    align-items: center;
    height: auto;
    width: auto;
    max-width: 50%;
    max-height: 50%;
}

.envelope .flap.top .flap-content {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    width: 80%;
    color: #000000;
    opacity: 0;
    transition: opacity 0.5s ease;
    visibility: hidden;
}

.envelope .flap.top img {
    max-width: 90%;
    height: auto;
    max-height: 100%;
    margin: auto;
    display: block;
}

.envelope .flap.bottom {
    transform-origin: top;
    transform: rotateX(0deg);
    background: #fff;
    opacity: 0;
    visibility: visible;
    transition: transform 1s ease, opacity 1s ease;
    height: 75%;
}

.envelope.open .flap.top {
    transform-origin: top;
    transform: rotateX(180deg);
    border: none;
    transition: opacity 0.5 ease, transfomr 0.5s ease;
}

.envelope.open .flaptopimg{
    visibility: hidden;
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.envelope.open .flap.bottom {
    transform: rotateX(45deg);
    opacity: 1;
    visibility: visible;
    border: none;
}

.envelope.close .flap.top {
    transform: rotateX(0deg);
    transform-origin: top;
    transition: transform 2s ease, opacity 1s ease;
}

.envelope.close.flaptopimg{
    transition: transform 2s ease, opacity 2s ease;
}

.envelope.close .flap.bottom {
    transform: rotateX(180deg);
    transition: transform 2s ease, opacity 1s ease;
    opacity: 1;
    z-index: -1;
}

.envelope .content {
    position: absolute;
    top: 0%;
    left: 0%;
    right: 0%;
    bottom: 0%;
    background: #ffffff;
    border: 2px solid #ccc;
    border-radius: 4px;
    padding: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    opacity: 0;
    transform: scale(0.8);
    transition: opacity 0.5s ease, transform 0.5s ease;
    pointer-events: none;
}

.envelope.open .content {
    opacity: 1;
    transform: scale(1);
    pointer-events: auto;
    justify-content: center;
}

.content img {
    width: auto;
    height: 100%;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    border-radius: 4px;
    align-items: center;
    justify-content: center;
}

.content h1 {
    display: inline-block;
    text-align: center;
    font-size: 36px;
    color: #000000;
    margin: 10px 0 10px;
}

.content p {
    text-align: center;
    font-size: 18px;
    color: #000000;
}

.textoargollas{
    margin-top: auto;
    text-align: center;
    font-size:larger;
    font-weight: bold;
    color: rgb(0, 0, 0);
    font-family: 'Playwrite CU', sans-serif;
}
.Nombres {
    margin-top: 30px;
    font-size: 256px;
    font-weight: bold;
    color: #000000;
    font-family: 'Playwrite CU', sans-serif;
}

.button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    cursor: pointer;
    background: transparent;
    border: none;
}

.location {
    text-align: center;
}

.location h1 {
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: bold;
    color: #333;
    height: auto;
    width: auto;
}

.location a {
    display: inline-block;
    margin: auto;
    padding: 15px 25px;
    font-size: 18px;
    color: #fff;
    background: #888888;
    border-radius: 8px;
    text-decoration: none;
    transition: background 0.3s, transform 0.3s;
}

.location a:hover {
    background: #000000;
    transform: scale(1.05);
}

/* Media Queries */
@media (max-width: 1200px) {
    .envelope {
        max-width: 650px;
        max-height: 425px;
    }
    .textoargollas{
        font-size: 30px;
    }
    .content h1 {
        font-size: 32px;
    }
    .content p {
        font-size: 16px;
    }
    .location h1 {
        font-size: 22px;
    }
    .location a {
        padding: 12px 20px;
        font-size: 16px;
    }
}

@media (max-width: 992px) {
    .envelope {
        max-width: 550px;
        max-height: 375px;
    }
    .textoargollas{
        font-size: 28px;
    }
    .content h1 {
        font-size: 28px;
    }
    .content p {
        font-size: 14px;
    }
    .location h1 {
        font-size: 20px;
    }
    .location a {
        padding: 10px 18px;
        font-size: 14px;
    }
}

@media (max-width: 768px) {
    .envelope {
        max-width: 450px;
        max-height: 325px;
    }
    .textoargollas{
    font-size: 26px;
    }
    .content h1 {
        font-size: 24px;
    }
    .content p {
        font-size: 12px;
    }
    .location h1 {
        font-size: 18px;
    }
    .location a {
        padding: 8px 16px;
        font-size: 12px;
    }
}

@media (max-width: 576px) {
    .envelope {
        max-width: 350px;
        max-height: 275px;
    }
    .textoargollas{
    font-size: 24px;
    }
    .content h1 {
        font-size: 20px;
    }
    .content p {
        font-size: 10px;
    }
    .location h1 {
        font-size: 16px;
    }
    .location a {
        padding: 6px 14px;
        font-size: 10px;
    }
}

@media (max-width: 400px) {
    .adaptivecontainer {
        width: 90vw;
        height: 90vh;
    }
    .textoargollas{
        font-size: 14px;
    }
    .envelope {
        max-width: 300px;
        max-height: 225px;
    }
    .content h1 {
        font-size: 18px;
    }
    .content p {
        font-size: 8px;
    }
    .location h1 {
        font-size: 14px;
    }
    .location a {
        padding: 4px 12px;
        font-size: 8px;
    }
}